@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent !important;
}

* :focus {
  outline: 0 !important;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 13px;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.744rem !important;
  font-size: 13px;
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 16px;
  }
}

h2 {
  font-size: 1.96rem !important;
  font-size: 13px;
}

@media screen and (min-width: 400px) {
  h2 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 1.4rem !important;
  font-size: 13px;
}

@media screen and (min-width: 400px) {
  h3 {
    font-size: calc(13px + 3 * ((100vw - 400px) / 1000));
  }
}

@media screen and (min-width: 1400px) {
  h3 {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

[data-animation="sliding"] {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.sliding {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.fade-0 {
  -webkit-animation: fade0 1s ease-in-out;
          animation: fade0 1s ease-in-out;
  opacity: 0;
  opacity: 0;
}

@-webkit-keyframes fade0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-1 {
  -webkit-animation: fade1 1s ease-in-out;
          animation: fade1 1s ease-in-out;
  opacity: 1;
  opacity: 1;
}

@-webkit-keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wipe-left {
  -webkit-animation: wipeLeft 1.45s ease-in-out;
          animation: wipeLeft 1.45s ease-in-out;
}

@-webkit-keyframes wipeLeft {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes wipeLeft {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.wipe-right {
  -webkit-animation: wipeRight 1.45s ease-in-out;
          animation: wipeRight 1.45s ease-in-out;
}

@-webkit-keyframes wipeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wipeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.wipe-up {
  -webkit-animation: wipeUp 0.6s ease-in-out;
          animation: wipeUp 0.6s ease-in-out;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

@-webkit-keyframes wipeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wipeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.wipe-up-reverse {
  -webkit-animation: wipeUpReverse 0.6s ease-in-out;
          animation: wipeUpReverse 0.6s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@-webkit-keyframes wipeUpReverse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes wipeUpReverse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

.button {
  padding: 0.8em 0.8em;
  text-align: center;
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 5px;
}

.close-btn {
  background: url("../../assets/icon/close-btn-line.svg");
  background-size: cover;
  background-position: center;
}

.close-btn--fill {
  background: url("../../assets/icon/close-btn-fill.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.send-btn {
  background: url("../../assets/icon/send-icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.long-card {
  width: 80vw;
  height: 30vh;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 9px;
}

.big-cards {
  width: 20rem;
  height: 50vh;
  margin: 2rem auto;
  -webkit-box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.25043px 5.13384px rgba(56, 53, 116, 0.085);
          box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.25043px 5.13384px rgba(56, 53, 116, 0.085);
  padding: 1.5rem;
  border-radius: 9px;
}

.small-cards {
  width: 15rem;
  height: 20vh;
  margin: 2rem;
  -webkit-box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.25043px 5.13384px rgba(56, 53, 116, 0.085);
          box-shadow: 0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.25043px 5.13384px rgba(56, 53, 116, 0.085);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
}

.small-logo {
  width: 7rem;
  margin: 1rem;
}

.big-container {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

.medium-container {
  width: 80vw;
  padding: 0.5rem;
}

.small-container {
  width: 50vw;
  padding: 0.5rem;
}

.header {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.sub-header {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.overlay-full {
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 3.5rem;
  height: 3rem;
  position: relative;
  top: 0;
  background-color: #9BA9FF;
}

.navbar-top .nav-list-container {
  min-width: 60%;
  height: 100%;
}

.navbar-top .nav-list-container .logo-sidebar {
  display: none;
}

.nav-list-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-height: 3rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.nav-list .icon-link {
  display: none;
}

.nav-list .nav-link a {
  font-weight: 500;
  color: white;
  background-color: none;
}

.nav-list .nav-link a:visited {
  color: white;
}

.logo-web {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.nav-toggle-icon {
  width: 3rem;
  height: 3rem;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  position: relative;
}

.nav-toggle-icon > * {
  cursor: pointer;
}

.nav-toggle-icon #toggle-nav {
  background: url("../assets/icon/hamburger-icon-pink.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.btn-redirect-feature {
  background-color: #D8C2FF;
}

.btn-redirect-feature a {
  color: #383574;
}

.navbar-top-scrolled {
  -webkit-filter: drop-shadow(0px 27px 46px rgba(91, 81, 143, 0.09)) drop-shadow(0px 6.0308px 10.2747px rgba(91, 81, 143, 0.0536497)) drop-shadow(0px 1.79553px 3.05905px rgba(91, 81, 143, 0.0363503));
          filter: drop-shadow(0px 27px 46px rgba(91, 81, 143, 0.09)) drop-shadow(0px 6.0308px 10.2747px rgba(91, 81, 143, 0.0536497)) drop-shadow(0px 1.79553px 3.05905px rgba(91, 81, 143, 0.0363503));
  position: fixed;
  z-index: 1;
  top: 0px;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  background-color: #fff;
  width: 100%;
}

.navbar-top-scrolled .nav-list-container ul {
  height: 100%;
}

.navbar-top-scrolled .nav-list-container ul .nav-list {
  cursor: pointer;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .nav-link {
  font-weight: 500;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .nav-link a {
  color: #383574;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .nav-link a:visited {
  color: #383574;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .button {
  background-color: #D8C2FF;
  font-weight: 500;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .btn-redirect-feature a {
  color: #F5F5F5;
}

.navbar-top-scrolled .nav-list-container ul .nav-list .btn-redirect-feature a:visited {
  color: #F5F5F5;
}

@media screen and (max-width: 768px) {
  .navbar-top {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 0 1.5rem;
    z-index: 9;
  }
  .navbar-top .nav-list-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100vh;
    width: 80vw;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    border-left: 3px solid #D8C2FF;
  }
  .navbar-top .nav-list-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 70%;
  }
  .navbar-top .nav-list-container .logo-sidebar {
    margin: 2rem 1rem;
    width: 100%;
    text-align: center;
    display: block;
  }
  .navbar-top .nav-list-container .logo-sidebar img {
    max-width: 10rem;
  }
  .logo-web {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .nav-toggle-icon {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-toggle-icon #toggle-nav {
    display: block;
  }
  .btn-list {
    background-color: white !important;
    border: none !important;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 80%;
    margin: 1rem 0;
    padding: 0.5rem;
    border-left: 1px solid #D8C2FF;
    background-color: #d8c2ff8c;
  }
  .nav-list .icon-link {
    background: url("../assets/icon/home-fill.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    min-height: 2rem;
    display: block;
  }
  .nav-list .nav-link {
    width: 70%;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-left: 0.5rem;
  }
  .nav-list .nav-link a {
    font-size: 14px;
    color: #383574;
    display: block;
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .nav-list .nav-link a {
    font-size: calc(14px + 4 * ((100vw - 400px) / 1000));
  }
}

@media screen and (max-width: 768px) and (min-width: 1400px) {
  .nav-list .nav-link a {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .nav-list .nav-link a:visited {
    color: #383574;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
  background-color: #383574;
  max-width: 100vw;
  height: 20vh;
  color: #F5F5F5;
  text-align: center;
}

.loader-container {
  background-color: #383574;
  margin: 0;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-container .loader-gif {
  width: 30rem;
}

.landing-page {
  background: url("../assets/animation/background-landing-page.gif");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 130vh;
  color: #F5F5F5;
  margin-top: -0.5em;
}

.landing-page .landing-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
}

.landing-page .landing-page-content .landing-page-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1.5rem;
  max-width: 67%;
}

.landing-page .landing-page-content .landing-page-text .landing-page-header {
  margin-bottom: 1rem;
  width: 100%;
}

.nau-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nau-wrapper #nau {
  min-width: 14.5rem;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .landing-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    text-align: center;
  }
  .landing-page .landing-page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -6rem;
  }
  .nau-wrapper #nau {
    min-width: 8rem;
  }
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: calc(100% + 2rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  margin-top: 2rem;
}

.about-page .about-one .cards-text, .about-page .about-three .cards-text {
  text-align: right;
}

.about-page .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.about-page .about .cards-text .cards-header {
  width: 80%;
}

.about-page .about .cards-text p {
  width: 85%;
}

.about-page .about .about-img1 {
  background: url("../assets/image/about1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100% + 1rem);
}

.about-page .about .about-img2 {
  background: url("../assets/image/about2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}

.about-page .about .about-img3 {
  background: url("../assets/image/about3.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}

.about-page .about .about-img4 {
  background: url("../assets/image/about4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
}

.cards-text > * {
  margin: 1rem;
  color: #383574;
  line-height: 110%;
}

.card-img {
  width: calc(100% - 1rem);
}

@media screen and (max-width: 768px) {
  .about {
    margin: 1rem;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .card-img {
    width: 150%;
  }
  .about-img1, .about-img3 {
    margin-top: -2rem;
    opacity: 0.8;
    margin-right: 2rem;
  }
  .about-img2, .about-img4 {
    margin-bottom: -2rem;
    opacity: 0.8;
    margin-left: 2rem;
  }
  .cards-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .cards-text {
    font-size: calc(12px + 2 * ((100vw - 400px) / 1000));
  }
}

@media screen and (max-width: 768px) and (min-width: 1400px) {
  .cards-text {
    font-size: 14px;
  }
}

.main-feature-page {
  background: url("../assets/image/feature-background.svg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 150vh;
  color: #F5F5F5;
  padding-top: 25%;
  background-position: top;
  position: relative;
}

.main-feature-page .feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  height: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  margin-top: -6rem;
}

.main-feature-page .feature-wrapper .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 60%;
  padding: 1.5rem;
}

.main-feature-page .feature-wrapper .features .feature-redirect-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: calc(110% + 1rem);
  cursor: pointer;
}

.main-feature-page .feature-wrapper .features .chat-redirect {
  background: url("../assets/animation/nau-on-jump-gifmaker.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-feature-page .feature-wrapper .features .quiz-redirect {
  background: url("../assets/animation/nau-on-jump-gifmaker.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D8C2FF;
  width: 80%;
  padding: 0.5rem 1.5rem;
  height: 100%;
  position: relative;
  bottom: -20%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

.button-overlay .button-redirect {
  min-width: 50%;
}

#redirectBtnQuiz {
  background-color: #5B518F;
}

#redirectBtnChat {
  background-color: #D8C2FF;
  color: #5B518F;
}

@media screen and (max-width: 768px) {
  .main-feature-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120vh;
  }
  .main-feature-page .feature-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 50%;
    width: 100%;
  }
  .main-feature-page .feature-wrapper .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .main-feature-page .feature-wrapper .features .feature-redirect-img {
    width: 70%;
    height: calc(100% + 2rem);
  }
  .main-feature-page .feature-wrapper .features .feature-redirect-img img {
    width: 100%;
  }
}

.developer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  max-width: 100%;
  max-height: 120vh;
  margin: 6rem;
  padding: 1.5rem;
}

.developer-page .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.developer-page .cards-wrapper .dev-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  height: 60vh;
}

.developer-page .cards-wrapper .dev-card * {
  margin: 1rem;
}

.developer-page .cards-wrapper .dev-card .dev-img {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  background-color: #9BA9FF;
}

.developer-page .cards-wrapper .dev-card .dev-desc {
  text-align: justify;
}

@media screen and (max-width: 450px) {
  .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
  max-width: 100vw;
  background-color: #9BA9FF;
  position: relative;
  overflow-x: hidden;
}

.slides-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100%;
  position: relative;
}

.slides-wrapper .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 95%;
  position: absolute;
  padding: 1.5rem;
}

.slides-wrapper .slides .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90%;
  background-color: #D8C2FF;
}

.slides-arrow {
  width: 100%;
  position: absolute;
  padding: 0 1.5rem;
  top: 50%;
}

.slides-arrow .icon-arrow {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.slides-arrow #nextSlide {
  background: url("../assets/icon/right-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}

.slides-arrow #prevSlide {
  background: url("../assets/icon/left-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.chat-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.chat-overlay .chat-overlay-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 90%;
  padding: 1.5rem;
}

.chat-overlay .chat-overlay-wrapper .mascot {
  width: 60%;
  height: 60%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../assets/nau/nau-stay-still.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.close-overlay {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 5%;
  left: 5%;
}

.quiz-overlay {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.chat-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 340px;
  min-height: 440px;
  background-color: #F5F5F5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px -22px 58px rgba(91, 81, 143, 0.27)) drop-shadow(0px -2.75474px 22.778px rgba(91, 81, 143, 0.150826));
          filter: drop-shadow(0px -22px 58px rgba(91, 81, 143, 0.27)) drop-shadow(0px -2.75474px 22.778px rgba(91, 81, 143, 0.150826));
  background-color: white;
  max-width: 30vw;
  border-radius: 12px;
}

.chat-window .chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #5B518F;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.chat-window .chat-header .chat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 1.5rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0.5rem;
}

.chat-window .chat-header .chat-name h3 {
  letter-spacing: 1px;
  font-weight: 500;
}

.chat-window .chat-header #closeChat {
  width: 0.8rem;
  height: 0.8rem;
}

.chat-window .chat-text-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #D8C2FF;
  padding: 0.5rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.input-form .user-input {
  line-height: 2rem;
  outline: 0 none;
  border: none;
  width: 100%;
  text-indent: 10px;
  padding: 0;
  font-size: 1rem;
  color: #383574;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: #F5F5F5;
  border-radius: 8px;
}

.input-form #btnSend {
  outline: 0 none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
}

.msg-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.msg-container .msg-bubble {
  max-width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.msg-container .msg-text {
  width: 100%;
  background-color: #D8C2FF;
  color: #383574;
  margin-bottom: 0.2em;
  font-weight: 500;
  padding: 1em 0.5rem;
}

.msg-container .timestamp {
  color: #383574;
  letter-spacing: 1px;
  margin: 0 1em 0.2em 1em;
  font-size: 8pt;
}

#botChat.msg-container {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#botChat.msg-container .msg-text {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-right: 1.5rem;
  background-color: #5B518F;
  color: #D8C2FF;
}

#userChat.msg-container {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#userChat.msg-container .msg-text {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 1.5rem;
}
/*# sourceMappingURL=main.css.map */