// FULL SCREEN CHAT OVERLAY
.chat-overlay{
    @include centerElement();
    @include overlay(fixed);

    z-index: 1;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;

    .chat-overlay-wrapper{
        @include centerElement();

        height: 90%;
        width: 90%;
        padding: $paddingMedium;

        .mascot {
            width: 60%;
            height: 60%;
            flex: 1;
    
            @include backgroundContain("../assets/nau/nau-stay-still.png")
        }
    }
   
}

.close-overlay {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 5%;
    left: 5%;
}

.quiz-overlay{
    transform: translateX(100%);
}



// CHAT BOX WINDOW
.chat-window{
    @include chatWindow();
    @include dropShadow2();
    background-color: white;
    max-width: 30vw;
    border-radius: $borderRadiusSmall;
    .chat-header{
        @include leftAlignElement();

        width: 100%;
        background-color: $semiDarkColor;
        margin-bottom: $marginSmall;
        padding: $paddingSmall $paddingMedium;
        border-top-left-radius: $borderRadiusSmall;
        border-top-right-radius:  $borderRadiusSmall;

        .chat-name{
            @include centerElement();

            max-height: 1.5rem;
            flex: 2;
            padding: $paddingSmall;

            h3{
                letter-spacing: 1px;
                font-weight: $semibold;
            }
        }
    
        #closeChat{
            width: 0.8rem;
            height: 0.8rem;
        }
    }

    .chat-text-container{
        flex: 2;
        width: 100%;
    }
}

.input-form{
    display: flex;
    width: 100%;
    background-color: $secondColor;
    padding: $paddingSmall;
    border-bottom-left-radius: $borderRadiusSmall;
    border-bottom-right-radius:  $borderRadiusSmall;

    .user-input{
        @include inputTextArea();

        color: $darkColor;
        flex: 2;
        background: $white;
        border-radius: 8px;
    }

    #btnSend {
       @include iconSmallBtn();

        width: 2rem;
    }
}

.msg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .msg-bubble{
        max-width: 76%;
        display: flex;
        flex-direction: column;
    }
    .msg-text{
        width: 100%;
        background-color: $secondColor;
        color: $darkColor;
        margin-bottom: 0.2em;
        font-weight: $semibold;
        padding: 1em $paddingSmall;
    }
    
    .timestamp {
        color: $darkColor;
        letter-spacing: 1px;
        margin:0 1em 0.2em 1em;
        font-size: 8pt;
    }
}


#botChat.msg-container{
    text-align: left;
    align-items: flex-start;
    .msg-text{
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding-right: $paddingMedium;
        background-color: $semiDarkColor;
        color: $secondColor;
    }
}

#userChat.msg-container{
    text-align: right;
    align-items: flex-end;
    
    .msg-text{
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding-left: $paddingMedium;
    }
}

