// FULL SCREEN CHAT OVERLAY
.chat-overlay{
    @include centerElement();
    @include overlay(fixed);

    z-index: 1;
    transform: translateX(-100%);

    .chat-overlay-wrapper{
        @include centerElement();

        height: 90%;
        width: 90%;
        padding: $paddingMedium;

        .mascot {
            width: 60%;
            height: 60%;
            flex: 1;
    
            @include backgroundContain("../assets/nau/nau-stay-still.png")
        }
    }
   
}

.close-overlay {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 5%;
    left: 5%;
}

.quiz-overlay{
    transform: translateX(100%);
}



// CHAT BOX WINDOW
.chat-window{
    @include chatWindow();
    @include dropShadow2();
    background-color: white;
    width: 30vw;
    max-width: 300px;
    border-radius: $borderRadiusSmall;
    overflow: hidden;
    border: 2px solid $darkColor;

    .chat-header{
        @include leftAlignElement();

        width: 100%;
        background-color: $mainColor;
        margin-bottom: $marginSmall;
        padding: $paddingSmall $paddingMedium;
        border-bottom: 2px solid $darkColor;

        .chat-name{
            @include centerElement();

            max-height: 1.5rem;
            flex: 2;
            padding: $paddingSmall;

            h3{
                letter-spacing: 1px;
                font-weight: $semibold;
                color: $darkColor;
            }
        }
    
        #closeChat{
            width: 0.8rem;
            height: 0.8rem;
        }
    }

    .chat-text-container{
        flex: 2;
        width: 100%;
    }
}

.input-form{
    display: flex;
    width: 100%;
    background-color: $secondColor;
    padding: $paddingSmall;
    border-bottom-left-radius: $borderRadiusSmall;
    border-bottom-right-radius:  $borderRadiusSmall;

    .user-input{
        @include inputTextArea();

        color: $darkColor;
        flex: 2;
        background: $white;
        border-radius: 8px;
        margin-right: $marginSmall;
    }

    #btnSend {
       @include iconSmallBtn();

        width: 2rem;
    }
}

.msg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $paddingSmall;
    
    // .msg-bubble{
    //     max-width: 76%;
    //     display: flex;
    //     flex-direction: column;
    //     border: $debug;
    // }
    .msg-bubble{
        max-width: 72%;
        background-color: $mainColor;
        padding: 0.8em 1em 1em 0.5em;
        border-radius: 23px;
        margin-bottom: 0.2em;
        .msg-text{
            @include smallerfont();
        }
    }
    // .msg-text{
    //     width: 100%;
    //     background-color: $secondColor;
    //     color: $darkColor;
    //     margin-bottom: 0.2em;
    //     font-weight: $semibold;
    //     padding: 1em $paddingSmall;
    // }
    
    .timestamp {
        color: $darkColor;
        letter-spacing: 1px;
        margin:0 1em 0.2em 1em;
        font-size: 8pt;
    }
}


#botChat.msg-container{
    text-align: right;
    align-items: flex-start;
    
    .msg-bubble{
        border: 1px solid $darkColor;
        background-color: $secondColor;
        .msg-text{
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            color: $darkColor;
        }
    }
}

#userChat.msg-container{
    text-align: left;
    align-items: flex-end;

    .msg-bubble{
        border: 1px solid $darkColor;
        .msg-text{
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
    }

}

