.bots-container{
    @include centerElement();
    @include fullscreen();
    @include overlay();

    flex-direction: column;
    background-color: $darkColor;
    position: fixed;
    
    .header{
        color: $white;
    }
}

.choose-bot-wrapper{
    @include centerElement();
    // @include overlay();

    width: 100%;
    padding: $paddingMedium;

    #minang{
        background-color: $firstColor;
    }

    #jawa{
        background-color: $secondColor;
    }

    #sunda{
        background-color: $lighColor;
    }
    
    #batak{
        background-color: $lighterColor;
    }
}


.chatbox-window{
    width: 30vw;
    height: 70vh;
    background-color: #2f323b;
    position: absolute;
    z-index: 9;

    // SCROLLBAR ON CHAT
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #4c4c6a;
        border-radius: 2px;
    }

    .chat-header{
        @include centerElement();

        background-color: #455277;
        padding: 0.5em;

        .chat-img{
            width: 10%;
            border: 2px solid  #1d2231;
            margin-right: 0.5em;
            border-radius: 100%;
        }

        .chat-name h2{
            letter-spacing: 1px;
        }
    }

    

.chat-innercontainer{
        width: 100%;
        height: 70%;
        padding: $paddingSmall;
        overflow-y: auto;
    }

    .msg-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;

        .msg-bubble{
            max-width: 76%;
            display: flex;
            flex-direction: column;
        }
        .msg-text{
            width: 100%;
            background-color: #4e72d6;
            margin-bottom: 0.2em;
            padding: 0.4em 0.5em;
            transition: all 0.15s ease-in-out;
        }

        .timestamp {
            color: white;
            letter-spacing: 1px;
            margin:0 1em 0.2em 1em;
        }
    }

    
    .user-input-window {

        background: #40434e;
        border-top: 1px solid #2671ff;
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

        .input-form{
            display: flex;
        }
        .user-input{
            flex: 1;
            line-height: 3rem;
            outline: 0 none;
            border: none;
            width: 100%;
            color: white;
            text-indent: 10px;
            padding: 0;
            background: #40434e;
        }
        .btn-send {
            outline: 0 none;
            border: none;
            background: rgba(255,255,255,.25);
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin: 0.4em;
            transition: all 0.15s ease-in-out;
        }

        .btn-send {
            // !it;s not gonna be like this when the icon is already created
            box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
            background: #2671ff;
            cursor: pointer;
        }
    }
}

#msg-bot{
    align-items: flex-start;
}
   
#msg-bot .msg-text{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
   
#msg-user{
    align-items: flex-end;
}
   
#msg-user .msg-text{
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

// TODO : Refactor this shit














