html {
    scroll-behavior: smooth;
}


// ANIMATION
@mixin wipeLeft(){
    animation: wipeLeft 2s ease-in-out;
    transform: translateX(-150%);

    @keyframes wipeLeft {
        0% {
            transform: translateX(-150%);
        }

        100% {
            transform: translateX(0);
        }
        
    }
}

@mixin wipeRight(){
    animation: wipeRight 2s ease-in-out;
    transform: translateX(200%);
    
    @keyframes wipeRight {
        0% {
            opacity: 0;
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
        
    }
}

.wipe-left{
    @include wipeLeft();
}

.wipe-right{
    @include wipeRight();
}

.wipe-up{
    animation: wipeUp 2s ease-in-out;
    transform: translateY(-50%);
}