html {
    scroll-behavior: smooth;
}


// ANIMATION
@mixin wipeLeft(){
    animation: wipeLeft 2s ease-in-out;

    @keyframes wipeLeft {
        0% {
            transform: translateX(-150%);
        }

        100% {
            transform: translateX(0);
        }
        
    }
}

@mixin wipeRight(){
    animation: wipeRight 2s ease-in-out;
    
    @keyframes wipeRight {
        0% {
            opacity: 0;
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
        
    }
}

@mixin wipeUp(){
    animation: wipeUp 0.6s ease-in-out;
    
    @keyframes wipeUp {
        0% {
            opacity: 0;
            transform: translateY(50%);
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
        
    }
}

@mixin wipeUpReverse(){
    animation: wipeUpReverse 0.6s ease-in-out;
    transform: translateY(100%);
    
    @keyframes wipeUpReverse {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            transform: translateY(100%);
            opacity: 0;
        }
        
    }
}

@mixin sliding(){
    transition : transform 1s ease-in-out;
}

.wipe-left{
    @include wipeLeft();
}

.wipe-right{
    @include wipeRight();
}

#wipe-up-and-stop{
    @include wipeUp();

    opacity: 1;
    transform: translateY(0);

    // !overlay still won't stick, masih turun lagi 
}

.wipe-up {
    @include wipeUp();
}



.wipe-up-reverse{
    @include wipeUpReverse();
}

