.about-page{
    @include centerElement();
    max-width: 100%;
    height: calc(100% + 2rem);
    flex-direction: column;

    .about-one .cards-text, .about-three .cards-text{
        text-align: right;
    }

    .about{
        @include leftAlignElement();
        
        height: 40vh;

        .cards-text{
            p{
                width: 85%;
            }
        }


        .about-img1{
            @include backgroundContain("../assets/image/about1.svg");
        
            height: calc(100% + 1rem);
        }

        .about-img2{
            @include backgroundContain("../assets/image/about2.svg");
        
            height: 80%;
        }

        .about-img3{
            @include backgroundContain("../assets/image/about3.svg");
        
            height: 80%;
        }

        .about-img4{
            @include backgroundContain("../assets/image/about4.svg");
        
            height: 80%;
        }

        
    }
}


.cards-text > *{
    margin: $marginSmall;
    color: $darkColor;
}

.card-img{
    width: calc(100% - 1rem);
    // text-align: center;
}

@media screen and (max-width : $tabletBreakpoint){
    .about{
        margin: $marginSmall;
        padding: 0;
        .card-img {
            width: calc(120% + 2rem);
            border: $debug;
        }
    }
}