.about-page{
    @include centerElement();
    max-width: 100%;
    height: calc(100% + 2rem);
    flex-direction: column;
    overflow-x: hidden;
    margin-top: $marginMedium;
    .about-one .cards-text, .about-three .cards-text{
        text-align: right;
    }

    .about{
        @include leftAlignElement();
        
        height: 40vh;

        .cards-text{
            .cards-header{
                width: 80%;
            }
            p{
                width: 85%;
            }
        }


        .about-img1{
            @include backgroundContain("../assets/image/about1.svg");
        
            height: calc(100% + 1rem);
        }

        .about-img2{
            @include backgroundContain("../assets/image/about2.svg");
        
            height: 80%;
        }

        .about-img3{
            @include backgroundContain("../assets/image/about3.svg");
        
            height: 80%;
        }

        .about-img4{
            @include backgroundContain("../assets/image/about4.svg");
        
            height: 80%;
        }

        
    }
}


.cards-text > *{
    margin: $marginSmall;
    color: $darkColor;
    line-height: 110%;
}

.card-img{
    width: calc(100% - 1rem);
    // text-align: center;
}

@media screen and (max-width : $tabletBreakpoint){
    .about{
        margin: $marginMedium 0.2em;
        padding: 0;
        flex-direction: column;
        width: 90%;

        .card-img {
            @include centerElement();
            width: 90%;
            flex-direction: column;
            max-width: $phoneImgMax;

        }
    }

    .about-one, .about-three{
        flex-direction: column-reverse;
    }

    .cards-text{
        @include centerElement();
        flex-direction: column;
        width: 80%;
        text-align: center;


        .cards-header{
            text-align: center;
            min-width: 100%;
        }

        p {
            @include smallerfont();
            text-align: center;
            padding: $paddingSmall;
            min-width: 100%;
            margin: 0;

        }
       
    }

    // refactor code above, the margin
}