// DEVELOPER PAGE 
.developer-page{
    @include centerElement();

    background-color: white;
    max-width: 100%;
    height: 150vh;
    margin: $marginLarge;
    padding: $paddingMedium;
    flex-direction: column;

    .big-title{
        margin: $marginMedium 0;
       width: 13rem;
    }

    .cards-wrapper{
        @include centerElement();
        width: 100%;
        .dev-card{
            @include centerElement();

            flex-direction: column;
            margin: $marginMedium;
            height: 60vh;

            & *{
                margin: $marginSmall;
            }
            .dev-img{
                
                width: 10rem;
                height: 10rem;
                border-radius: 100%;
                border: 4px solid $mainColor;

                // profile image

            }
            
            .img-clayzz{
                @include backgroundCover("../assets/image/galih.jpg");

            }

            .img-macaron{
                @include backgroundCover("../assets/image/ayu.jpg");

            }
            .dev-desc{
                text-align: justify;
            }
        }      
    }

    .dev-text{
        @include centerElement();
        @include biggerfont();
        width: 50%;
        text-align: center;
        margin-top: $marginBig;
        color: $semiDarkColor;
        font-weight: $semibold;
    }
}


@media screen and (max-width : $phoneBreakpoint) {
    .developer-page{
        max-height: 100%;
    }
    .cards-wrapper{
        flex-direction: column;
    }
    .dev-text{
        min-width: 100vw;
        p {
            @include customfont(16px, 20px);
            max-height: 40vh;
            width: 90%;
        }
    }
}