// .slide-show-container {
//     @include centerElement();
    
//     height: 100vh;
//     width: 100vw;
//     background-color: $secondColor;
//     overflow-x: scroll;

//     .carousel{
//         @include centerElement();
//         width: 90%;
//         height: 90%;

//         .slide-active-viewport{
//             @include leftAlignElement();
//             width: 100%;
//             height: 100%;

//             .slide-padding{
//                 @include centerElement();

//                 min-width: 100%;
//                 height: 100%;
//                 padding: $paddingMedium;
//             }
//         }
//     }
// }

// .slides{
//     @include centerElement();

//     flex-direction: column;
//     padding: $paddingMedium;
//     min-width: 80%;
//     height: 80%;

    
//     transition: 0.5 ease-in-out;


//     .slide-header{
//         font-weight: bold;
//         margin: $marginSmall;
//     }

//     .slide-img{
//         width: 10rem;
//         height: 10rem;
//         border: 10%;
//         background-color: $firstColor;
//         margin: $marginSmall;
//     }
//     .slide-text{
//         width: 80%;
//     }
// }




.carousel{
    @include centerElement();

    height: 95vh;
    max-width: 100vw;
    background-color: $firstColor;
    position: relative;
    overflow-x: hidden;
}

.slides-wrapper{
    @include centerElement();
    
    width: 85%;
    height: 100%;
    position: relative;

    .slides{
        @include centerElement();

        width: 95%;
        height: 95%;
        position: absolute;
        padding: $paddingMedium;
      

        .slide-content{
            @include centerElement();

            width: 90%;
            height: 90%;
            background-color: $secondColor;
        }
    }
}


[data-animation="sliding"]{
    @include sliding();
}

.slides-arrow{
    width: 100%;
    position: absolute;
    padding: 0 $paddingMedium;
    top: 50%;

    .icon-arrow{
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    #nextSlide{
        @include backgroundContain("../assets/icon/right-arrow.svg");
        float: right
    }

    #prevSlide{
        @include backgroundContain("../assets/icon/left-arrow.svg");
        float: left;
    }
}