.carousel {
    @include centerElement();
    @include backgroundCover("../assets/image/landing-page-background.png");

    height: 120vh;
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;

    .carousel-header {
        h1 {
            @include customfont(35px, 40px);
            color: white;
        }
    }
}

.slides-wrapper {
    @include centerElement();

    width: 85%;
    height: 80%;
    position: relative;

    .slides {
        @include centerElement();

        width: 95%;
        height: 95%;
        position: absolute;
        padding: $paddingMedium;
    }
}

.slide-content {
    @include centerElement();

    flex-direction: column;
    box-shadow: 0 1px 10px #025dac9a;
    width: 90%;
    height: 90%;
    padding: $paddingSmall;
    background-color: white;
    border-radius: $borderRadiusSmall;

    // slide-text
    article {
        text-align: center;
        margin: $marginSmall 0;
        width: 65%;

        .slide-header {
            margin: $marginSmall 0;
            color: $darkColor;
            @include biggerfont();
        }
        .slide-text {
            color: $darkColor;
        }
    }

    .slide-img {
        @include centerElement();
        width: 50%;

        img {
            width: 60%;
        }
    }
}

.slide4 {
    width: 40%;
    img {
        width: 40%!important;
    }
}

.slides-arrow {
    width: 100%;
    position: absolute;
    padding: 0 $paddingMedium;
    top: 50%;

    .icon-arrow {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        outline: none;
        border: none;
    }
    #nextSlide {
        @include backgroundContain("../assets/icon/right-arrow.svg");
        float: right;
    }

    #prevSlide {
        @include backgroundContain("../assets/icon/left-arrow.svg");
        float: left;
    }
}

// CARD IMAGE

.gallery-card-page {
    @include centerElement();

    flex-direction: column;
    width: 90%;
    height: calc(100% + 5vh);
    margin: $marginBig auto;

    .text-content {
        width: 80%;
        height: 35%;
        text-align: center;
        color: $darkColor;
    }

    .cards-container {
        @include centerElement();

        flex-wrap: wrap;
        width: 100%;

        .gallery-card {
            @include centerElement();

            flex-direction: column;
            margin: $marginMedium;
            position: relative;
            overflow: hidden;

            img {
                width: 130%;
                height: 130%;
            }

            .caption {
                @include centerElement();
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background-color: #31313170;
                color: $white;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity 0.25s ease-in, transform 0.25s ease-out;

                &:hover {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

// 3D ROTATING GALLERY
.gallery-page {
    @include centerElement();
    flex-direction: column;
    width: 100vw;
    height: 200vh;
    margin-top: $marginBig;
    background-color: $darkColor;

    .big-title {
        color: $mainColor;
        margin: $marginSmall;
    }
}

.picture-wrapper {
    @include centerElement();
    @include imageWrapper();

    width: 100%;
    height: 100%;
    margin: $marginSuperLarge 0;
    animation: rotateDekstop 30s linear infinite;
}

.image-container {
    @include imageGallery(400px);

    width: 17rem;
    height: 17rem;
    border: 2px solid $mainColor;
}

.rotation-mode-container {
    @include centerElement();

    width: 100%;
    height: 30vh;
    margin-top: $marginLarge;
    position: absolute;
    flex-direction: column;

    .wrapper {
        position: absolute;
        width: 20%;
        left: 0;
        .square-btn {
            padding: 0.8em;
            background-color: $mainColor;
            border: 2px solid $darkColor;
            margin: $marginSmall;
            border-radius: $borderRadiusSmall;
            cursor: pointer;
            transition: 0.25s ease-in-out;
            width: 3rem;
            color: $darkColor;
            &:hover {
                background-color: $darkColor;
                border: 2px solid $mainColor;
                color: $mainColor;
            }
        }

        #goHome {
            @include backgroundContain("../assets/icon/home-fill.svg");
            background-color: $mainColor;

            width: 3rem;
            height: 3rem;
            display: block;
            &:hover {
                @include backgroundContain("../assets/icon/home-line.svg");
                background-color: $mainColor;
            }
        }
    }
}

// OVERLAY ON CLICK
.gallery-overlay {
    @include centerElement();

    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 22, 48, 0.377);
    z-index: 1;
    display: none;

    .gallery-overlay-content {
        @include dropShadow();

        width: 65%;
        height: 80%;
        flex-direction: column;
        z-index: 2;
        overflow-y: hidden;

        .gallery-overlay-img {
            @include backgroundCover("../assets/image/image-gallery-1.png");

            width: 100%;
            height: 100%;
            position: relative;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .header {
            @include customfont(24px, 32px);

            color: white;
            flex: 2;
            margin-top: $marginMedium;
        }

        .gallery-overlay-text {
            @include centerElement();

            flex-direction: column;
            position: absolute;
            inset: 0;
            .gallery-overlay-icon {
                @include centerElement();

                transform: translateY(50%);
                opacity: 0;
                flex: 1;
                inset: 0;
                transition: 0.4s ease-out;
                min-height: 100%;
                min-width: 100%;
                background-color: rgba(26, 26, 26, 0.418);
                position: absolute;

                &:hover {
                    transform: translateX(0);
                    opacity: 1;
                }

                .share {
                    width: 3rem;
                    height: 3rem;
                    background-color: $darkColor;
                    margin: 0 $marginSmall;
                    cursor: pointer;
                    filter: grayscale(100%);

                    &:hover {
                        transition: filter 0.25s ease-in-out;
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $dekstop) {
    .image-container {
        &:hover > .image {
            transform: scale(1.2) translateZ(100px);
        }

        .image {
            @include dropShadow2();
            transition: transform 0.25s ease-in-out;
            inset: 0;
            position: absolute;
        }

        &:nth-child(1) .image {
            @include backgroundCover("../assets/image/gallery-1.png");
        }

        &:nth-child(2) .image {
            @include backgroundCover("../assets/image/gallery-2.png");
        }
        &:nth-child(3) .image {
            @include backgroundCover("../assets/image/gallery-3.png");
        }
        &:nth-child(4) .image {
            @include backgroundCover("../assets/image/gallery-4.png");
        }
        &:nth-child(5) .image {
            @include backgroundCover("../assets/image/gallery-5.png");
        }
        &:nth-child(6) .image {
            @include backgroundCover("../assets/image/gallery-6.png");
        }
        &:nth-child(7) .image {
            @include backgroundCover("../assets/image/gallery-7.png");
        }
        &:nth-child(8) .image {
            @include backgroundCover("../assets/image/gallery-8.png");
        }
        &:nth-child(9) .image {
            @include backgroundCover("../assets/image/gallery-9.png");
        }
    }
}

@media screen and (max-width: $tabletBreakpoint) {
    .slides-wrapper {
        @include centerElement();

        width: 85%;
        height: 100%;
        position: relative;

        .slides {
            @include centerElement();

            width: 95%;
            height: 60%;
            position: absolute;
            padding: $paddingSmall;
        }
    }

    .slide-img {
        img {
            width: 5rem;
            max-width: 150px;
        }
    }

    .gallery-page {
        max-width: 100vw;
        height: 175vh;
    }

    .picture-wrapper {
        animation: rotatePhone 50s linear infinite;
        max-width: 60%;

        .image-container {
            @include backgroundCover("../assets/image/gallery-9.png");
            @include imageGalleryXAxis(400px);
            cursor: pointer;
            width: 16rem;
            height: 16rem;
            border: none;

            &:nth-child(1):hover {
                @include backgroundCover("../assets/image/gallery-1.png");
            }
            &:nth-child(2) {
                @include backgroundCover("../assets/image/gallery-2.png");
            }
            &:nth-child(3) {
                @include backgroundCover("../assets/image/gallery-3.png");
            }
            &:nth-child(4) {
                @include backgroundCover("../assets/image/gallery-4.png");
            }
            &:nth-child(5) {
                @include backgroundCover("../assets/image/gallery-5.png");
            }
            &:nth-child(6) {
                @include backgroundCover("../assets/image/gallery-6.png");
            }
            &:nth-child(7) {
                @include backgroundCover("../assets/image/gallery-7.png");
            }
            &:nth-child(8) {
                @include backgroundCover("../assets/image/gallery-8.png");
            }
            &:nth-child(9) {
                @include backgroundCover("../assets/image/gallery-9.png");
            }
        }
    }
}
