.main-feature-page{
    @include backgroundCover("../assets/image/feature-background.svg");

    max-width: 100%;
    height: 150vh;
    color: $white;
    padding-top: 25%;
    background-position: top;
    position: relative;

    .feature-wrapper{
        @include centerElement();

        height: 80%;
        
        .features{
            @include centerElement();
            flex-basis: 50%;
            height: 60%;
            padding: $paddingMedium;
            .feature-redirect-img{
                @include centerElement();
                width: 80%;
                height: calc(110% + 1rem);
                cursor: pointer;
            }

            #chatRedirect{
                @include backgroundContain("../../assets/animation/Nau-jump-on-hover.gif")
            }
            #quizRedirect {
                @include backgroundContain("../../assets/animation/Nau-jump-on-hover.gif")
            }
        }
    }
}

.button-overlay {
    color: $secondColor;
    width: 40%;
    padding: $paddingSmall $paddingMedium;
    height: 40%;
    position: relative;
    bottom: -20%;

    .button-redirect {
        background-color: $darkColor;
        opacity: 0;
    }
}


@media screen and (max-width: $tabletBreakpoint) {
    .main-feature-page{
        @include centerElement();
        height: 120vh;
        
        .feature-wrapper{
            flex-direction: column;
            max-height: 50%;
            width: 100%;

            .features{
                flex-direction: column;
                width: 80%;

                .feature-redirect-img{
                    width: 70%;
                    height: calc(100% + 2rem);

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

}