.main-feature-page{
    @include backgroundCover("../assets/image/feature-background.svg");

    max-width: 100%;
    height: 150vh;
    color: $white;
    padding-top: 25%;
    background-position: top;
    position: relative;

    .feature-wrapper{
        @include centerElement();
        @include sliding();

        height: 100%;
        transform: translateX(0);
        opacity: 1;
        margin-top: -$marginLarge;
        
        .features{
            @include centerElement();
            flex-basis: 50%;
            height: 60%;
            padding: $paddingMedium;
            .feature-redirect-img{
                @include centerElement();
                width: 80%;
                height: calc(110% + 1rem);
                cursor: pointer;
            }

            .chat-redirect{
                @include backgroundContain("../assets/animation/Nau-jump-on-hover.gif");
            }
            .quiz-redirect {
                @include backgroundContain("../assets/animation/Nau-jump-on-hover.gif");
            }
        }
    }
}

.button-overlay {
    @include centerElement();
    
    color: $secondColor;
    width: 80%;
    padding: $paddingSmall $paddingMedium;
    height: 100%;
    position: relative;
    bottom: -20%;
    transform: translateY(0);
    opacity: 0;

    .button-redirect {
        min-width: 50%;
    }
}

#redirectBtnQuiz{
    background-color: $semiDarkColor;
}

#redirectBtnChat{
    background-color: $secondColor;
    color: $semiDarkColor;
}


@media screen and (max-width: $tabletBreakpoint) {
    .main-feature-page{
        @include centerElement();
        height: 120vh;
        
        .feature-wrapper{
            flex-direction: column;
            max-height: 50%;
            width: 100%;

            .features{
                flex-direction: column;
                width: 80%;

                .feature-redirect-img{
                    width: 70%;
                    height: calc(100% + 2rem);

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

}