.share-container {
    @include centerElement();
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: $darkColor;

    .big-title{
        margin: $marginMedium;
    }

    p{
        @include biggerfont();
        text-align: center;
        width: 40%;
        margin: 0;
        margin: $marginBig;
    }
 }

 .share-icon{
    @include centerElement();
    width: 60vw;
    height: 10vh;
    margin-top: $marginMedium;

    .share {
        min-width: 3rem;
        min-height: 3rem;
        background-color: $darkColor;
        margin: 0 $marginSmall;
        cursor: pointer;
        filter: brightness(0);
        opacity: 0.6;

        &:hover {
            transition: filter 0.25s ease-in-out, opacity 0.25s ease-in;
            filter: brightness(1);
            opacity: 1;
        }
    }
}


.footer{
    @include centerElement();

    margin-top: $marginSuperLarge;
    background-color: $darkColor;
    max-width: 100vw;
    height: 20vh;
    color: $white;
    text-align: center;
}


@media screen and (max-width: $tabletBreakpoint) {
    .share-container{
        p {
            width: 100%;
            margin-bottom: $marginBig;
        }
    }
}