// CONTAINERS
.big-container {
    width: 100vw;
    height: 100vh;
    padding: $paddingSmall;
}

.medium-container{
    width: 80vw;
    padding: $paddingSmall;
}

.small-container{
    width: 50vw;
    padding: $paddingSmall;
}

// HEADERS
.header{
    font-weight: $bold;
    font-size: 2rem;
    text-align: center;
}

.sub-header{
    font-weight: $bold;
    font-size: 1.2rem;
    text-align: center;
}

/// gallery pictures


// hidden
[data-hidden="true"] {
    display: none;
}

// OVERLAY
.no-scroll{
    overflow: hidden;
}

.overlay-full{
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}
