// CONTAINERS
.big-container {
    width: 100vw;
    height: 100vh;
    padding: $paddingSmall;
}

.medium-container{
    width: 80vw;
    padding: $paddingSmall;
}

.small-container{
    width: 50vw;
    padding: $paddingSmall;
}

// HEADERS
.header{
    font-weight: $bold;
    font-size: 2rem;
    text-align: center;
}

.sub-header{
    font-weight: $bold;
    font-size: 1.2rem;
    text-align: center;
}

#big-title{
    margin: $marginLarge;
    font-style: italic;
    color: $darkColor;

    h1{
        @include customfont(56px, 70px);
    }
}

// on screen title
@media screen and (max-width: $tabletBreakpoint) {
    #big-title{
        margin: $marginSmall;
        font-style: italic;
        color: $darkColor;
    
        h1{
            @include customfont(36px, 48px);
        }
    }
}

/// gallery pictures

// OVERLAY
.no-scroll{
    overflow: hidden;
}

.overlay-full{
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}
