// CONTAINERS
.big-container {
    width: 100vw;
    height: 100vh;
    padding: $paddingSmall;
}

.medium-container{
    width: 80vw;
    padding: $paddingSmall;
}

.small-container{
    width: 50vw;
    padding: $paddingSmall;
}

// HEADERS
.header{
    font-weight: $bold;
    font-size: 2rem;
    text-align: center;
}

.sub-header{
    font-weight: $bold;
    font-size: 1.2rem;
    text-align: center;
}

#big-title{
    margin: $marginLarge;
    color: $semiDarkColor;
    position: relative;
    max-height: 5vh;
    margin: auto;
    text-align: center;

    h1{
        @include customfont(30px, 34px);

        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -$paddingSmall;
            transform: scaleX(0.5);
            height: 3px;
            background-color: $semiDarkColor;
            width: 100%;
        }
    }
}

// on screen title
@media screen and (max-width: $tabletBreakpoint) {
    #big-title{
        margin: $marginSmall auto;
        font-style: italic;
        color: $darkColor;
        
        h1{
            @include customfont(18px, 22px);
        }
    }
}

/// gallery pictures

// OVERLAY
.no-scroll{
    overflow: hidden;
}

.overlay-full{
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}
