.loader-container{
    background-color: $darkColor;
    margin: 0;
    position: fixed;
    transform: translateX(0);
    top: 0;
    z-index: 1;

    @include centerElement();
    .loader-gif{
        width: 30rem;
    }
}

//