// NAVITAGTION BAR
// TOP NAVIGATION
.navbar-top{
    @include centerElement();

    max-width: 100%;
    height: 3.4rem;
    position: relative;
    padding: $paddingMedium;
    background-color: $firstColor;
    .logo-web{
        flex: 2;
    }

    .hamburger-icon{
        display: none;
        #toggle-nav{
            width: 3rem;
        }
    }

    .nav-list-container{
        ul{
            @include centerElement();

            .nav-list{
                margin-right: $marginBig;

                .btn-redirect-feature{
                    background-color: $lighterColor;
                    font-weight: bold;
                    color: $darkColor;
                }
                .nav-link{
                    @include smallerfont();
                    
                    font-weight: $semibold;
                    color: $white;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

// IF NAVBAR IS LEAVING LANDING PAGE IT WILL POP UP AND STICK TO THE TOP
.navbar-top-scrolled{
    @include dropShadow();

    position: fixed;
    z-index: 1;
    top: 0px;
    transition: background 0.5s ease-in-out;
    background-color: #FFF;
    width: 100%;
    .nav-list-container{
        ul{
            .nav-list {
                .nav-link{
                    font-weight: $semibold;
                    color: $darkColor;
                }
    
                .button{
                    background-color: $secondColor;
                    font-weight: $semibold;
                    color: $white;
                }
            }
        }
    }
}



@media screen and (max-width: $phoneBreakpoint){

    .navbar-top{
        .hamburger-icon{
            text-align: left;
            display: block;
            flex: 1;
            #toggle-nav{
                width: 3rem;
            }
        }
    }

    

    .nav-list-container{
        position: absolute;
        top: 4rem;
        z-index: 1;
        ul{
            transform: translateX(-150%);
            width: 100vw;
            height: 100vh;
            flex-direction: column;

            .nav-list{
                @include centerElement();
                flex: 1;

                .btn-redirect-feature{
                    display: none;
                }
            }
        }
    }
}



