// BUTTON
.button {
    padding: 0.8em 0.8em;
    text-align: center;
    cursor: pointer;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.close-btn{
    @include backgroundCover("../../assets/icon/close-btn-line.svg");
} 

.close-btn--fill{
    @include backgroundContain("../../assets/icon/close-btn-fill.svg");
}

.send-btn{
    @include backgroundContain("../../assets/icon/send-icon.svg");
}

@mixin iconSmallBtn(){
    outline: 0 none;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}



// CARDS
.long-card{
    width: 80vw;
    height: 30vh;
    margin: $marginMedium auto;
    padding: $paddingMedium;
    border-radius: 9px;
}

.big-cards{
    width: 20rem;
    height: 50vh;
    margin: $marginMedium auto;
    box-shadow: $lightSmoothShadow;
    padding: $paddingMedium;
    border-radius: 9px;
}

.small-cards{
    width: 15rem;
    height: 20vh;
    margin: $marginMedium;
    box-shadow: $lightSmoothShadow;
    padding: $paddingMedium;
    border-radius: 9px;
    cursor: pointer;
}

// ICON
.small-logo{
    width: 7rem;
    margin: $marginSmall;
}


// SPESIFIC COMPONENT FOR THIS WEBSITE
@mixin chatWindow(){
    @include centerElement();

    min-width: 340px;
    min-height: 440px;
    background-color:$white;
    flex-direction: column;
}

@mixin inputForm(){
    display: flex;
    width: 100%;
    padding: $paddingSmall;
}

@mixin inputTextArea(){
    line-height: 2rem;
    outline: 0 none;
    border: none;
    width: 100%;
    text-indent: 10px;
    padding: 0;
    font-size: 1rem;
}
