// BUTTON
.button {
    padding: 0.8em 0.8em;
    text-align: center;
    cursor: pointer;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.close-btn{
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0.4em;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

// CARDS
.long-card{
    width: 80vw;
    height: 30vh;
    margin: $marginMedium auto;
    padding: $paddingMedium;
    border-radius: 9px;
}

.big-cards{
    width: 20rem;
    height: 50vh;
    margin: $marginMedium auto;
    box-shadow: $lightSmoothShadow;
    padding: $paddingMedium;
    border-radius: 9px;
}

.small-cards{
    width: 15rem;
    height: 20vh;
    margin: $marginMedium;
    box-shadow: $lightSmoothShadow;
    padding: $paddingMedium;
    border-radius: 9px;
    cursor: pointer;
}

// ICON

.small-logo{
    width: 7rem;
    margin: $marginSmall;
}