// ALL MIXIN
// POSITION MIXIN
@mixin centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin leftAlignElement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin rightAlignElement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin overlay(){
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}