@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// COLOR VARIABLE
$darkColor : #383574;
$semiDarkColor : #5B518F;
$firstColor : #9BA9FF;
$secondColor : #D8C2FF;
$lighColor : #F5CAC3;
$lighterColor : #FFD3D3;
$white : #F5F5F5;

// CSS BREAKPOINT 
$phoneBreakpoint : 450px;
$tabletBreakpoint :  768px;
$laptop : 992px;
$desktop : 1200px;

// FONT STYLE
$poppins : 'Poppins', sans-serif;
$montserrat : 'Montserrat', sans-serif;

// FONT WEIGHT
$bold : 700;
$semibold : 500;
$regular : 400;
$light : 300;
$lightest : 200;

// MARGIN
$marginMedium : 2rem;
$marginSmall : 1rem;
$marginBig : 3.5rem;
$marginLarge : 6rem;
$marginSuperLarge : 12rem;

// PADDING
$paddingMedium : 1.5rem;
$paddingSmall : 0.5rem;
$paddingBig : 3.5rem;
$paddingLarge : 5rem;

// SMOOTH SHADOW
$lightSmoothShadow :  0px -2px 41px rgba(64, 61, 119, 0.18), 0px -0.250431px 5.13384px rgba(56, 53, 116, 0.085);

// OTHERS
$debug : 1px solid red;